.box2 {
  width: 400px;
  margin: 2px;
  align-self: flex-start;
  background-color: blanchedalmond;
  border-color: blue;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}
.big {
  display: inline-block;
}
.small {
  display: block;
  width: 100%;
}
